apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wekafs-amg
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: SOME_STORAGE_CLASS_NAME
