apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: weka

resources:
  - serviceAccount.yaml
  - ../decode
  - ../prefill

patches:
  # Patch weka-storage volume to use PVC for both decode and prefill
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/1
        value:
          name: weka-storage
          persistentVolumeClaim:
            claimName: wekafs-amg
